[Desktop Entry]
Version=0.17.6
Name=Cico Core Testnet
Comment=Connect to the Cico P2P Network Testnet
Exec=cico-qt -testnet %u
Terminal=false
Type=Application
Icon=cicotestnet128
MimeType=x-scheme-handler/cico;
Categories=Network;
StartupWMClass=Cico-qt-testnet
Name[en_US]=cico-qt-testnet
